<form method = 'post' action = /article/:id>
<%article = Article.find_by(:id)%>
<label for="Article title"> Article Name:<%=article.name%></label>
<input id="title" type="string" name = "title">
<label for="Article content"> Article Content:<%=article.content%></label>
<input id="content" type="string" name = "content">
<input value="submit" type = "submit">
<input id="hidden" type="hidden" name="_method" value="PATCH">
</form>