<form action = '/articles/<%@article.id%>' method = 'post'>
<input id="hidden" type="hidden" name="_method" value="PATCH">
<label for="Article title"> Article Name:</label>
<input id="title" value='<%=@article.title%>' type="text" name = "title">
<label for="Article content"> Article Content:</label>
<textarea id="content" value='<%=@article.content%>' type="text" name = "content">
</textarea>
<input value="submit" type = "submit"/>
</form>